<header><h2 class="welcome-admin">Welcome, Commissioner Rutherford!</h2>
<div class="logout"><a class="btn btn-primary" href="/admin/logout">Logout</a></div></header>

<main>
  <ul id="admin-menu">
    <li><h3><a href="/admin/competitors/new">Add new competitor</a></h3></li>
    <li><h3><a href="/admin/matches/new">Add new match</a></h3></li>
    <li><h3><a href="admin/matches">Input match results</a></h3></li>
  </ul>

  <%= audio_tag "BikeHorn.mp3", class: "audio-play", type: "audio/mp3" %>
  <button id="bicycle-horn" type="button" class="btn btn-success audioButton btn-lg btn-block">HONK</button>

</main>
