<h1>Match Results</h1>

<table class="table table-hover">
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Competitor 1</th>
    <th>Competitor 2</th>
  </tr>
  <tr>
    <td class="calendar-date"><%= (@match.start_time).strftime("%B %d, %Y") %></td>
    <td class="calendar-time"><%= (@match.start_time).strftime("%I:%M%p") %></td>
    <td class="calendar-competitor1-name"><%= Competitor.find(@match.competitor1_id).name %></td>
    <td class="calendar-competitor2-name"><%= Competitor.find(@match.competitor2_id).name %></td>
  </tr>
</table>

<form>

</form>

