div.logout {
  display: inline-block;
}

// #logout {
//   background-color: #A82231;
// }

.welcome-admin{
  width: 80%;
  display: inline-block;
}

#bicycle-horn {
  background-color: #00FF38;
  color: #A82231;
  margin-top: 3em;
  font-size: 4em;
}
