// * { outline: 2px solid red }

body .container {
  margin-top: 80px;
  padding: 2em 2em;
}

nav {
  padding: 20px 20px;
  // height: 100px;
  #logo {
    // outline: 2px solid blue;
    height: 150px;
    margin-top: -25px;
    margin-left: 100px;
  }

  #navbar-right {
    margin-right: 100px;
  }
}

.bggrey {
  background-color: #222222;
  border-color: #222222
}

.bggrey:hover {
  background-color: #B80B36;
  border-color: #B80B36
}

@media screen and (max-width: 767px) {
  nav #logo {
    margin-left: 0px;
    height: 75px;
  }

  .table-mobile-media {
    display: none
  }
}

@media screen and (min-width: 767px) {
  .table-desktop-media {
    display: none
  }
}

.competitors-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 650px;
  h1 {
    margin-top: 0px;
  }
  a {
    margin-bottom: 12px;
  }
}

.competitors-list {
  width: 400px;
}
